.profile {
  &__title {
    font-size: 32px;
  }
  &__main {
    &__row {
      display: flex;
      gap: 40px;
      margin-top: 40px;
      &__avatar {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        padding: 40px;
        &__label {
          margin-top: 20px;
          background-color: #eee;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 20px;
          padding: 20px;
          cursor: pointer;
          border-radius: 8px;
        }
        &__input {
          opacity: 0;
          position: absolute;
          z-index: -1;
        }
        &__button {
          margin-top: 40px;
          width: 100%;
        }
        &__image {
          border-radius: 50%;
          background-color: #eee;
          width: 200px;
          // aspect-ratio: 1/1;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 64px;
          font-weight: bold;
        }
      }
      &__detail {
        width: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        padding: 40px 40px;
        border-radius: 8px;
      }
      &__password {
        width: 25%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        padding: 40px;
        border-radius: 8px;
      }
    }
  }
}
