.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #eee;
  padding-right: 15px;

  &__select {
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    &:disabled {
      opacity: 0.7;
    }
  }
}
