.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &__select {
    margin-top: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(127, 155, 124);
    border-radius: 4px;
    &:disabled {
      opacity: 0.7;
    }
  }
}
