.register {
  &__form {
    &__button {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background-color: teal;
      color: white;
      font-weight: 600;
      cursor: pointer;
      border-radius: 4px;
    }
  }
}
