.toaster {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    &__text {
      min-width: 200px;
      &__title {
        font-weight: bold;
      }
    }
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 18px;
    }
  }
  &__timer {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
