.detail {
  padding: 20vh 25vw;
  &__main {
    display: flex;
    gap: 60px;
    &__left {
      width: 50%;
      &__image {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        border-radius: 10px;
      }
    }
    &__right {
      width: 50%;
      &__category {
        color: #6c6c6c;
        margin-top: 5px;
      }
      &__price {
        margin-top: 20px;
      }
      &__description {
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
      }
      &__subtitle {
        margin-top: 60px;
        font-weight: 500;
      }
      &__size {
        margin-top: -20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &__item {
          &__label {
            width: 100%;
            height: 100%;
            border: 2px solid #c7c7c7;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
          }
          &__input {
            appearance: none;
          }
          &__input:checked + &__label {
            border: 2px solid #000;
          }
          &__input:disabled + &__label {
            opacity: 0.5;
            cursor: default;
          }
        }
      }
      &__add {
        margin-top: 80px;
        width: 100%;
        padding: 20px;
      }
    }
  }
}
