.button {
  display: flex;
  padding: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}
.primary {
  background-color: teal;
  color: white;
}
.secondary {
  background-color: black;
  color: white;
}
