.button {
  display: flex;
  padding: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.primary {
  background-color: teal;
  color: white;
}
.secondary {
  background-color: white;
  color: black;
}
