.form {
  &__stock {
    display: flex;
    width: 100%;
    gap: 20px;
    &__item {
      width: 50%;
      margin-bottom: -20px;
    }
    &__button {
      padding: 5px 10px;
      margin: 20px 0;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__preview {
      margin-bottom: 20px;
    }
  }
}
