.products {
  &__table {
    width: 100%;
    // border-spacing: 0;
    // border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 40px;
    border-radius: 10px;
    th,
    td {
      text-align: center;
      padding: 8px;
    }
    thead {
      tr {
        background-color: #f2f2f2;
      }
    }
    &__action {
      display: flex;
      gap: 10px;
      justify-content: center;
      Button {
        cursor: pointer;
      }
      &__delete {
        background-color: #ff6363;
        color: #ffff;
      }
      &__edit {
        background-color: lab(81.9% -17.24 70.1);
        color: lab(0% 0 0);
      }
    }
  }
}
