.product {
  padding: 160px 2vw 100px;
  &__title {
    font-size: 24px;
    font-weight: 500;
  }
  &__main {
    display: flex;
    gap: 60px;
    &__filter {
      width: 15%;
      &__data {
        padding: 20px 0;
        border-bottom: 1px solid #000;
        &__title {
          font-size: 18px;
          font-weight: 600;
        }
        &__list {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &__item {
            &__label {
              font-size: 18px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    &__content {
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      &__item {
        cursor: pointer;
        &__image {
          width: 100%;
          aspect-ratio: 1/1;
          height: auto;
          border-radius: 10px;
        }
        &__title {
          font-size: 18px;
          font-weight: 600;
          margin-top: 10px;
        }
        &__category {
          font-size: 18px;
          font-weight: 500;
          margin-top: 5px;
        }
        &__price {
          font-size: 18px;
          font-weight: 500;
          margin-top: 5px;
        }
      }
    }
  }
}
