.cart {
  padding: 100px 20vw;
  display: flex;
  gap: 50px;
  &__summary {
    width: 30%;
    &__item {
      display: flex;
      justify-content: space-between;
    }
    &__button {
      width: 100%;
      margin-top: 20px;
    }
  }
  &__main {
    width: 70%;
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &__item {
        width: 100%;
        display: flex;
        gap: 20px;
        &__image {
          width: 150px;
          height: 150px;
          border-radius: 8px;
        }
        &__info {
          width: 100%;
          &__title {
            font-size: 18px;
          }
          &__category {
            margin-top: 5px;
          }
          &__data {
            display: flex;
            align-items: center;
            gap: 20px;
            &__size {
              display: flex;
              align-items: center;
              gap: 10px;
            }
            &__qty {
              display: flex;
              align-items: center;
              gap: 10px;
              &__input {
                input {
                  width: 40px;
                  text-align: center;
                }
              }
            }
          }
        }
        &__price {
          font-size: 18px;
        }
      }
      &__divider {
        height: 1px;
        width: 100%;
        border: 0;
        border-top: 1px solid #ddd;
        background-color: #ddd;
        margin: 20px 0;
      }
    }
  }
}
