.sidebar {
  background-color: black;
  color: #fff;
  padding: 20px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    &__title {
      margin-bottom: 40px;
      text-align: center;
      font-size: 24px;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        // background-color: #fff;
        border-radius: 4px;
        font-size: 18px;
        align-items: center;
        padding-left: 10px;

        &:hover {
          background-color: #fff;
          color: black;
          transition: 0.3s;
        }
        &__active {
          background-color: #fff;
          color: black;
        }
      }
    }
  }
}
