.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: white;
  position: fixed;
  padding: 0 20px;
  &__button {
    background-color: #fff;
    color: #000;
    border: none;
    margin-right: 30px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
