.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #000;
  position: fixed;
  padding: 20px 2vw;
  &__nav {
    display: flex;
    gap: 20px;
    height: 100%;
    &__item {
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      &--active {
        font-weight: 700;

        border-bottom: 2px solid #000;
      }
    }
  }
  &__user {
    margin-right: 100px;
    &__profile {
      position: relative;
      &__name {
        border-radius: 4px;
        cursor: pointer;
      }
      &__dropdown {
        position: absolute;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        right: 0;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        &--active {
          display: flex;
        }
        &__item {
          background-color: transparent;
          padding: 10px 20px;
          text-align: center;
          border: none;
          font-size: 16px;
          cursor: pointer;
          &:last-child {
            border-radius: 0 0 10px 10px;
          }
          &:nth-child(1) {
            border-radius: 10px 10px 0 0;
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
  &__button {
    background-color: #fff;
    color: #000;
    border: none;
    margin-right: 100px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
